mexpoints/DataContractClient/Service References/ServiceReference1/MathService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DataContractServer" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DataContractServer" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="MathResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="div" type="xs:double" />
      <xs:element minOccurs="0" name="mult" type="xs:double" />
      <xs:element minOccurs="0" name="subrt" type="xs:double" />
      <xs:element minOccurs="0" name="sum" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MathResult" nillable="true" type="tns:MathResult" />
</xs:schema>